*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Roboto", sans-serif;
}

body{
background-color: #51fcba;
}

.logo{
    width: 300px;
    height: 300px;
    display: block;
    margin: 12px auto 16px auto;

}

main{
    background: #F4F4F4;
    width: 375px;
height: 712px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    border-radius: 20px;
}

input{
    width: 327px;
    height: 48px;
    border-radius: 4px;
    border: solid 1px;
margin-top: 6px;
padding: 16px;
font-weight: bold;
cursor: pointer;
}

button{
    background: #772FD3;
border-radius: 5px;
width: 327px;
    height: 48px;
    border: none;
    margin-top: 10px;
    color: #FFFFFF;
font-size: 18px;
font-weight: 700;
letter-spacing: 0%;
line-height: 18px;
cursor: pointer;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}


label{
    display: block;
    color: #777777;
font-size: 14px;
font-weight: 400;
letter-spacing: 0%;
width: 327px;

}

select{
    width: 327px;
    height: 48px;
    appearance: none;
    cursor: pointer;
    padding: 16px;
    margin-top: 6px;
}

.caixa-brasil{
margin-top: 36px;
width: 327px;
height: 276px;
flex-shrink: 0;
border-radius: 20px;
border: 1px solid #772FD3;
display: block;
text-align: center;
padding: 10px;
}

.arrow{
    margin-top: 10px;
}

.eua{
    margin-top: 10px;
}

.label-caixa{
    margin-left: -12px;
}
.currency-convert-real, .currency-converted-dollar{
    color: #555;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 18px; /* 90% */
}

@media screen and (max-width: 600px) {

    body{
        background-color: #ffffff;
        }

    .logo{
        display: none;
    }

main{
    width: 100vw;
    height: 100vh;
    padding: 40px;
}


}




